body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family:monospace;
    font-size: 37px;
    font-weight: normal;
}
#game-container{
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    border: 7px;
    border-style: solid;
    border-color: springgreen;
}
